/* ########## GLOBAL ########## */
html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* ########## LEFT SECTION ########## */
.left-section {
  width: 33.33vw;
}

/* ########## MAIN SECTION ########## */
.main-section {
  width: 33.33vw;
}

.main-section-title {
  padding-bottom: 10%;
}

.main-section-whose-turn {
  padding-bottom: 10%;
}

.game-container {
  display: grid;
  grid-template: repeat(3, 0fr) / repeat(3, 0fr);
  justify-content: center;
}

.box {
  width: 120px;
  height: 120px;
  border: 1px solid #000000;
}

/* ########## RIGHT SECTION ########## */
.right-section {
  width: 33.33vw;
}
