/* ########## GLOBAL ########## */
html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

/* ########## LEFT SECTION ########## */
.left-section {
  width: 33.33vw;
  background-image: linear-gradient(to left, #2e4057, #2e68ab);
  font-family: Lora;
  letter-spacing: 10px;
  color: #6aa0de;
  -webkit-text-stroke: .5px white;
}

.player-one-wins {
  padding-top: 10%;
  font-size: 30px;
}

.tally-player-one {
  font-size: 60px;
  font-weight: 700;
}

/* ########## MAIN SECTION ########## */
.main-section {
  background: #2e4057;
  width: 33.33vw;
  background-image: radial-gradient(#6aa0de 15%, #2e4057 15%);
  background-size: 10px 10px;
  font-family: Lora;
  letter-spacing: 10px;
}

.main-section-title {
  padding-top: 6%;
  stroke: #6aa0de;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 1.5;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(208, 50%, 23%)
  }
  100% {
    stroke-dasharray: 50% 0;
    fill: hsla(208, 73%, 34%)
  }
}

.main-section-game-status {
  padding-bottom: 5%;
  font-size: 25px;
  -webkit-text-stroke: .5px white;
  color: #6aa0de;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 0fr) / repeat(3, 0fr);
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 120px;
  width: 120px;
  border: 1px solid #000000;
  border-color: #eff5fa;
  border-radius: 5px;
  transition: .2s;
  font-size: 50px;
  color: #6aa0de;
  -webkit-text-stroke: .5px white;
}

.box:hover {
  transform: scale(1.1);
}

/* ########## RIGHT SECTION ########## */
.right-section {
  width: 33.33vw;
  background: #ffa5d8;
  background-image: linear-gradient(to right, #2e4057, #2e68ab);
  font-family: Lora;
  letter-spacing: 10px;
  color: #6aa0de;
  -webkit-text-stroke: .5px white;
}

.player-two-wins {
  padding-top: 10%;
  font-size: 30px;
}

.tally-player-two {
  font-size: 60px;
  font-weight: 600;
}
